<link rel="stylesheet" href="css/styleAddTest.css">
<% layout('layout/page') -%>
<% block('title') -%>

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<style media="screen">
/* Левая сторона НАЧАЛО*/
.main-and-sidebar-wrapper-left {
    display: flex;
    width: 40%;
    margin-top: 100px;
}

.main-left {
    text-align: center;
    margin-left: 10px;

    flex: 3;
}

.main-left  h2 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: left;
}

.main-left  h3 {
    font-size: 16px;
		margin-top: 25px;
    margin-bottom: 15px;
    text-align: left;
}

.main-left .select-updateImage {
	float: left;
	margin-top: 10px;
  margin-bottom: 20px;
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.main-left .upload {
	float: left;
	margin-top: 10px;
  margin-bottom: 20px;
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
}

#myProgress {
	margin-top: 75px;
	max-width: 120px;
  width: 100%;
  background-color: #ddd;
  text-align: left;
}
#myBar {
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

.main-left a {
    color: #2196F3; /* Цвет обычной ссылки */
   }
/* Левая сторона КОНЕЦ*/


.main-and-sidebar-wrapper {
    display: flex;
    width: 20%;
}

.main {
    text-align: center;
/*    margin-right: 60px;*/
    flex: 3;
}

/* Центр НАЧАЛО*/

/* Центер КОНЕЦ*/


/* Правая сторона НАЧАЛО*/
.main-and-sidebar-wrapper-right {
    display: flex;
    width: 40%;
    margin-top: 100px;
}

.main-right {
    text-align: center;
    margin-right: 10px;

    flex: 3;
}

.main-right  h2 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: left;
}
/* Настройки размеров картинок НАЧАЛО*/
.main-right .settings_entrance_input img {
	float: left;
  width: 12%;
  height:7%;
	border: 1px dotted #546E7A; /* Параметры границы */
}

.main-right .settings_entrance img {
	float: left;
  width: 12%;
  height: 7%;
  margin-top: 10px;
  margin-bottom: 20px;
}
/* Настройки размеров картинок КОНЕЦ*/


#delete_all_images_login {
	border: 0px dotted #546E7A; /* Параметры границы */
}

#delete_all_images_password {
	border: 0px dotted #546E7A; /* Параметры границы */
}
/* Правая сторона КОНЕЦ*/


/* Подвал НАЧАЛО*/
footer {
    color: #ef5350;
    text-align: center;
    padding: 20px 0;
    margin-top: 60px;
}

footer p {
    color: #777;
    font-size: 12px;
    padding: 10px;
}
/* Подвал КОНЕЦ*/



/* Настройки размеров полей ввода НАЧАЛО*/
.input-test-data {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/* Настройки размеров полей ввода КОНЕЦ*/

/* Настройки кнопки добавить студента НАЧАЛО*/
.add-new-test {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}
/* Настройки кнопки добавить студента КОНЕЦ*/

/* Настройки таблицы студентов НАЧАЛО*/
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}
table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
table th,
table td {
  padding: .625em;
  text-align: center;
}
/* Настройки таблицы студентов КОНЕЦ*/

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-delete
{
  background-color: #D50000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}



</style>


  <!-- LEFT START -->
    <div class="main-and-sidebar-wrapper-left">
        <section class="main-left">

          <table id="tl_tests">
            <caption><b>Test results</b></caption>
              <tr>
                <th scope="col">№</th>
                <th scope="col">Name</th>
                <th scope="col">Questions count</th>
              </tr>

          </table>



        </section>
    </div>
  <!-- LEFT END -->

<!-- CENTER START -->
    <div class="main-and-sidebar-wrapper">
        <section class="main">

        </section>
    </div>
<!-- CENTER END -->

  <!-- RIGHT START -->
    <div class="main-and-sidebar-wrapper-right">
        <section class="main-right">
            <h2 style="text-align: center">Add test</h2>

              <h2>Name test</h2>
              <input id = "testName" name="nameNewTest" type="text" class="input-test-data" placeholder="Name" required>
              <button id = "submit" type="submit" class="add-new-test" data-loading-text="Adding...">Add new test</button>

        </section>
    </div>
  <!-- RIGHT END -->

    </div>

    <footer>
        <h3>Footer</h3>
        <p>Something.</p>
    </footer>


<script>

var config = {
  apiKey: "AIzaSyDivSiqkv7QoDAe8qiY1QevU5N4vQ7aHZw",
  authDomain: "profpref-c5ce0.firebaseapp.com",
  databaseURL: "https://profpref-c5ce0.firebaseio.com",
  projectId: "profpref-c5ce0",
  storageBucket: "profpref-c5ce0.appspot.com",
  messagingSenderId: "664101035809"
};
firebase.initializeApp(config);

var refAnswer = firebase.database().ref("tests");

var questions_number = 0

refAnswer.on('child_added', function(snapshot) {

    if (snapshot.child('name').val() != null) {
    questions_number++
    $('#tl_tests tbody').append('<tr class="child" id =' + snapshot.getKey() +
                                                    '><td>' + questions_number + '</td>' +
                                                    '<td>' + snapshot.child('name').val() + '</td>' +
                                                    '<td>' + snapshot.child('questions_count').val() + '</td>' +
                                                    '<td id =' + snapshot.getKey() +
                                                    ' class="delete"><button id =' + snapshot.getKey() +
                                                    ' onclick="refAnswer.child(this.id).remove()" class="action-delete">Delete</button></td>' +
                                                           + '</tr>');
                                                         }
});



refAnswer.on('child_removed', function (snapshot) {
    $( "#"  + snapshot.getKey()).remove();
    questions_number--
})

$( "#submit" ).click(function() {

  if ($( "#testName" ).val() != "") {
    var testId =  firebase.app().database().ref().push().getKey();

    var ref = firebase.app().database().ref();

    var currentTestRef = ref.child('tests/' + testId);

    var currentTestRef = currentTestRef.set({
    name: $( "#testName" ).val(),
    questions_count: 0
    });

    $( "#testName" ).val("")

}


});


</script>
