<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="css/styleLogin.css">

<% layout('layout/page') -%>
<% block('title') -%>


<form class="form-signin" name="registration_form">
  <!-- CENTER START -->
  <div class="main-and-sidebar-wrapper">
      <section class="main">


          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

          <h2><b><center>Registration</center></b></h2>
            <h5><center>Please input email and password.</center></h5>

            <input name="email" type="email" class="input-personal-data" id="input-email" placeholder="Email">
            <input name="password" type="password" class="input-personal-data" id="input-password" placeholder="Password - (min 6 symbols)">

            <button type="submit" class="authorization" data-loading-text="Sending...">Enter</button>
            <span class="help-block error"></span>


            <a href="/">Back to Authorization page</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </section>
  </div>
  <!-- CENTER END -->


    <!-- <footer>
        <h3>Footer</h3>
        <p>Something.</p>
    </footer> -->
</form>


    <script>
    // Клиентский код //
    // Человек вводит логин, пароль
      $(document.forms['registration_form']).on('submit', function() {
        var form = $(this);

        $('.error', form).html('');
        $(":submit", form).button("loading");

        // Этот логин, пароль отправляется на сервер
        $.ajax({
          url: "/registration", // роут: require('./login').post
          method: "POST",
          data: form.serialize(),
          complete: function() {
            $(":submit", form).button("reset");
          }
          ,
          statusCode: {
            // если ответ сервера 200 - перенаправляем человека в личный кабинет
            200: function() {
              form.html("Вы вошли в сайт").addClass('alert-success');
              //window.location.href = "/personalArea";
            },
            // если 403 - высвечивается ошибка
            403: function(jqXHR) {
              var error = JSON.parse(jqXHR.responseText);
              $('.error', form).html(error.message);
            }
          }
        });
      window.location.href = "/personalArea";
      return false;
      });

    </script>
