<link rel="stylesheet" href="/css/styleResultTest.css">
<% layout('layout/page') -%>
<% block('title') -%>

<h1><b>AIT</b></h1>

<div class="settingsUsername">
<b>Settings:</b><%=loginStudent%>
</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a href="<%=link%>">Go to the test settings</a>

<table class="table table-bordered table-inverse">
  <tbody>
    <tr>
      <th scope="row" bgcolor="#fff"></th>
      <td><span class="glyphicon glyphicon-arrow-down"></span> Question</td>
      <td><span class="glyphicon glyphicon-arrow-down"></span> Like</td>
      <td><span class="glyphicon glyphicon-arrow-down"></span> Dislike</td>
      <td><span class="glyphicon glyphicon-arrow-down"></span> Not answer</td>
    </tr>


    <tr>
      <th rowspan="5">Category 1</th>
      <td><b>1</b></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><b>2</b></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><b>3</b></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><b>4</b></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><b>5</b></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>


    <tr><th rowspan="5">Category 2</th>
      <td><b>6</b></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><b>7</b></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><b>8</b></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><b>9</b></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><b>10</b></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr><th rowspan="5">Category 3</th>
      <td><b>11</b></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><b>12</b></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><b>13</b></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><b>14</b></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><b>15</b></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row" bgcolor="#fff"></th>
      <td>Questions:</td>
      <td>Likes:</td>
      <td>Dislikes:</td>
      <td>Not answers:</td>
    </tr>
  </tbody>
</table>
