/* Костылина для надписи AIT и скрытия навбара*/
h1 {
  margin-right: 16.5px;
}

nav {
  visibility: hidden;
}

.main-and-sidebar-wrapper {
    display: flex;
    width: 25%;
    margin-left: 37%;
}

.main {
    text-align: center;
    flex: 3;
}

.main p {
    visibility: hidden;
}

.main a {
    color: #2196F3; /* Цвет обычной ссылки */
   }




/* Подвал НАЧАЛО*/
footer {
    color: #ef5350;
    text-align: center;
    padding: 20px 0;
    margin-top: 60px;
}

footer p {
    color: #777;
    font-size: 12px;
    padding: 10px;
}
/* Подвал КОНЕЦ*/


/* Настройки размеров полей ввода НАЧАЛО*/
.input-personal-data {
  margin-bottom: 20px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/* Настройки размеров полей ввода КОНЕЦ*/

/* Настройки кнопки добавить студента НАЧАЛО*/
.authorization {
  width: 100%;
  background-color: #0277BD;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}
/* Настройки кнопки добавить студента КОНЕЦ*/




@media (max-width: 600px) {
    .main-and-sidebar-wrapper {
        flex-direction: column;
    }

    .main {
        margin-right: 0;
        margin-bottom: 60px;
    }

}
