/* Левая сторона НАЧАЛО*/
.main-and-sidebar-wrapper-left {
    display: flex;
    width: 2.5%;
    margin-top: 200px;
}

.main-left {
    text-align: center;
    margin-left: 10px;

    flex: 3;
}
/* Левая сторона КОНЕЦ*/


.main-and-sidebar-wrapper {
    display: flex;
    width: 95%;
}

.main {
    text-align: center;
/*    margin-right: 60px;*/
    flex: 3;
}

/* Центр НАЧАЛО*/
.main h1 {
    margin-right: 1.385%;
    font-size: 110px;
    margin-bottom: 55px;
    font-family: serif;
}

.main h2 {
	font-size: 20px;
	margin-top: 65px;
	text-align: left;
}

/* Настройки размеров картинок НАЧАЛО*/
.main .settings_entrance_input {
  width: 50%;
}

.main .settings_entrance {
  width: 50%;
}

.main .settings_entrance_input img {
	float: left;
	width: 10%;
  height:7%;
	border: 1px dotted #546E7A; /* Параметры границы */
}

.main .settings_entrance img {
	float: left;
	width: 10%;
  height:7%;
  margin-top: 10px;
  margin-bottom: 20px;
}
/* Настройки размеров картинок КОНЕЦ*/

.main a {
    color: #2196F3; /* Цвет обычной ссылки */
   }

.main #currentQuestion {
    text-align: left;
    font-size: 14px;
    margin-top: 80px;
}

.main #currentState {
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
		margin-bottom: 50px;
}
/* Центер КОНЕЦ*/


/* Правая сторона НАЧАЛО*/
.main-and-sidebar-wrapper-right {
    display: flex;
    width: 2.5%;
    margin-top: 200px;
}

.main-right {
    text-align: center;
    margin-right: 10px;

    flex: 3;
}
/* Правая сторона КОНЕЦ*/


/* Подвал НАЧАЛО*/
footer {
    color: #ef5350;
    text-align: center;
    padding: 20px 0;
    margin-top: 60px;
}

footer p {
    color: #777;
    font-size: 12px;
    padding: 10px;
}
/* Подвал КОНЕЦ*/


/* Настройки размеров полей ввода НАЧАЛО*/
.update-personal-data {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Настройки размеров полей ввода КОНЕЦ*/

/* Настройка кнопок обновить/удалить студента НАЧАЛО*/
.update-student {
  float: left;
  width: 10%;
  background-color: #0277BD;
  color: white;
  padding: 12px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.delete-student {
  float: right;
  width: 10%;
  background-color: #D50000;
  color: white;
  padding: 12px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}
/* Настройки кнопок обновить/удалить студента КОНЕЦ*/

/* Настройки таблицы студентов НАЧАЛО*/
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}
table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
table th,
table td {
  padding: .625em;
  text-align: center;
}
table caption {
	font-size: 30px;
}
/* Настройки таблицы студентов КОНЕЦ*/



@media (max-width: 600px) {
    .main-and-sidebar-wrapper {
        flex-direction: column;
    }

    .main {
        margin-right: 0;
        margin-bottom: 60px;
    }

    table thead {
      display: none;
    }
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
    }
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: right;
    }
    table td:before {
      content: attr(aria-label);
      float: left;
    }

}
