/* Левая сторона НАЧАЛО*/
.main-and-sidebar-wrapper-left {
    display: flex;
    width: 17.5%;
    margin-top: 150px;
}

.main-left {
    text-align: left;
    margin-left: 10px;

    flex: 3;
}

.main-left  h2 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: left;
}

.main-left  h5 {
    font-size: 15px;
    text-align: left;
}

.main-left  h6 {
    font-size: 13px;
    text-align: center;
}

.main-left .checkbox {
  margin-bottom: 5px;
}
/* Левая сторона КОНЕЦ*/


.main-and-sidebar-wrapper {
    display: flex;
    width: 77.5%;
}

.main {
    text-align: center;
    flex: 3;
}

/* Центр НАЧАЛО*/
.main h1 {
		margin-right: 17.83%;
    font-size: 110px;
    margin-bottom: 55px;
    font-family: serif;
}

.main .constantly {
    display: flex;
	 border: 4px solid #546E7A; /* Параметры границы */
}

.main .notConstantly {
	 margin-top: 11px;
	 border: 4px dotted #fff; /* Параметры границы */
}


/* Левая часть Начало*/
.main .main-left-part {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  margin-top: 100px;
}

.main .main-left-part .notConstantly {
    height: 125px;
		width: 200px;
    margin-bottom: 30px;
		visibility: hidden;
}

.main .main-left-part .constantly {
  height: 220px;
  width: 200px;
	visibility: hidden;
}
/* Левая часть  КОНЕЦ*/

/* Центральная часть Начало*/
.main .main-center-part {
  float: left;
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  margin-top: -450px;
}

.main .main-center-part .notConstantly {
margin-bottom: 10px;
}

.main .main-center-part .constantly {
  height: 450px;
  width: 430px;
}
/* Центральная часть  КОНЕЦ*/

/* Правая часть Начало*/
.main .main-right-part {
  float: left;
  display: flex;
  flex-direction: column;
  margin-left: 750px;
  margin-top: -415px;
}

.main .main-right-part .notConstantly {
  height: 125px;
  width: 200px;
  margin-bottom: 30px;
	visibility: hidden;
}

.main .main-right-part .constantly {
  height: 220px;
  width: 200px;
	visibility: hidden;
}

.stopTest {
    height: 125px;
    width: 200px;
		margin-top: -150px;
		margin-bottom: 25px;
    border: 4px solid #546E7A; /* Параметры границы */
}
/* Правая часть  КОНЕЦ*/


.main .bigBtnResults {
  margin-top: 5px;
  margin-left: 55px;
  height: 55px;
  width: 430px;
	border: 4px dotted #546E7A; /* Параметры границы */
}

/* Пагинация ГАЧАЛО*/
.pagination {
    margin-top: 35px;
    display: inline-block;
}

.pagination a {
    color: black;
    float: center;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #0277BD;
    color: white;
    border-radius: 5px;
}
/* Пагинация КОНЕЦ*/
/* Центер КОНЕЦ*/


/* Правая сторона НАЧАЛО*/
.main-and-sidebar-wrapper-right {
    display: flex;
    width: 5%;
    margin-top: 150px;
}

.main-right {
    text-align: center;
    margin-right: 10px;

    flex: 3;
}

.main-right  h2 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: left;
}
/* Правая сторона КОНЕЦ*/


/* Подвал НАЧАЛО*/
footer {
    color: #ef5350;
    text-align: center;
    padding: 20px 0;
    margin-top: 60px;
}

footer p {
    color: #777;
    font-size: 12px;
    padding: 10px;
}
/* Подвал КОНЕЦ*/


/* Настройки размеров полей ввода НАЧАЛО*/
.select-language {
  margin-top: 10px;
  margin-bottom: 40px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-training-data {
  width: 300px;
  padding: 6px 5px;
	position:absolute;
	z-index: 2;
	border-radius: 5px;
	border: 4px dotted #546E7A; /* Параметры границы */
	color:red;
	background-color: #B0BEC5;
}
/* Настройки размеров полей ввода КОНЕЦ*/


/* Настройки кнопки добавить студента НАЧАЛО*/
.update-test-settings {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* Настройки кнопки добавить студента КОНЕЦ*/

/* Настройки слайдбаров выбора картинок НАЧАЛО*/
input[type=range] {
  -webkit-appearance: none;
  margin: 15px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #BDBDBD;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 15px;
  width: 39px;
  border-radius: 7px;
  background: #607D8B;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #BDBDBD;
}
/* Настройки слайдбаров выбора картинок КОНЕЦ*/

/* Настройки видимости элементов НАЧАДЛ*/
.text, .sound, .swap, .finger, .arrows, .progressBar,
 .styleImagesSwap, .styleImageLikeDislike,
.styleImageStopTest,.styleImageFinish, .inputStyleImageSwap,
.inputStyleImagesLikeDislike, .inputStyleImageStopTest,
 .styleImageStopTest, .inputStyleImageFinish  {
	opacity: 0.4;
}
/* Настройки видимости элементов КОНЕЦ*/


@media (max-width: 600px) {
    .main-and-sidebar-wrapper {
        flex-direction: column;
    }

    .main {
        margin-right: 0;
        margin-bottom: 60px;
    }
}
