.navbar-default{
	background-color: #ffffff;
	    border-color: #ffffff;
}

h1 {
  font-size: 120px;
  font-family: serif;
  text-align: center;
	margin-right: 43%;
}

.form-testSetting {
  max-width: 330px;
  float: left; /* Обтекание по правому краю */
  padding: 15px;
  margin-left: 1%;
  margin-top: -1%;
}

.form-testSetting .form-control {
    max-width: 120px;
    max-height: 33px;
}

.form-testSetting .btn-primary {
  max-width:none;
}

.form-testImages {
  max-width: 75%;
  float:right; /* Обтекание по правому краю */
  padding: 15px;
  margin-left: 5%;
  margin-top: -6.5%;
}


.form-testImages h3 {
	text-align: center;
	 border: 4px dotted #546E7A; /* Параметры границы */
}

.form-testImages .constantly {
	 border: 4px solid #546E7A; /* Параметры границы */
}

.form-testImages .notConstantly {
	 border: 4px dotted #546E7A; /* Параметры границы */
}

.stopTest {
    height: 125px;
    width: 190px;
		margin-left: 83.2%;
    float:left;; /* Обтекание по правому краю */
    margin-top: -8%;
		margin-bottom: -2%;
    border: 4px solid #546E7A; /* Параметры границы */
}

.wrapper {overflow: hidden; width:875px; }
.center {float: left;  width: 420px;  margin-left: 24.7%; margin-top: -2%; }
.center .constantly {
    height: 450px;
	  width: 430px;
}


.form-testImages .pagination {
  margin-left: 235px;
	margin-top: 7%;
}

.styleImages .settings{
height: 22px;
width: 40px;
padding: 0px;
float:left;; /* Обтекание по правому краю */
  margin-left: 105%;
  margin-top: -18%;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 15px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #BDBDBD;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 15px;
  width: 39px;
  border-radius: 7px;
  background: #607D8B;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #BDBDBD;
}

.form-group .btn-acceptSettings {
	margin-left: 75px;
}

.text, .sound, .swap, .finger, .arrows, .progressBar, .btnResult, .styleImagesSwap, .styleImagesLikeDislike,
.inputStyleImageSwap, .inputStyleImagesLikeDislike, .styleImageStopTest, .styleImageResults, .inputStyleImageResults, .ImageStopTest, .inputStyleImageStopTest {
	opacity: 0.4;
}

.ImageStopTest {
	margin-right: 9%;
}


/* МЕДИА ЗАПРОСЫ - АДАПТИВНОСТЬ ПОД РАЗНЫЕ РАЗМЕРЫ ЭКРАНА */
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

@media only screen and (min-width : 993px) {

}
